---
import AboutUs from "../components/AboutUs.astro";
import Benefits from "../components/Benefits.astro";
import BaseLayout from "../layout/BaseLayout.astro";
import Motivation from "../components/Motivation.astro";
---

<BaseLayout title="COMUTEC">
  <h1>Comutec</h1>
  <AboutUs />
  <Benefits />
  <Motivation />
</BaseLayout>
