<div class="wrapper">
  <div class="logo">
    <img src="logo.png" alt="logo de comutec" />
  </div>
  <nav>
    <ul>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Eventos</a></li>
      <li class="btn"><a href="#">Contáctanos</a></li>
    </ul>
  </nav>
</div>

<style>
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    width: 90px;
    height: 90px;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
  }
</style>
